.listItem {
  display: flex;
  min-width: 100%;
  min-height: 40px;
  justify-content: space-between;
  align-items: center;
  border: 3px solid #d9d9e4;
  border-radius: 15px;
  margin-bottom: 5px;
  padding: 10px;
  background-color: whitesmoke;
  color: #676666;
}

.removeButton {
  background-color: #d9d9e4;
}

.iconWrapper {
  display: flex;
  background-color: #d9d9e4;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
}

.date{
font-size: 11px;
font-weight:lighter;

}

.textContainer{
display: flex;
flex-direction: column;
}
