.listWithPagination {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.todoList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 550px;
  padding: 0;
  /* border: 3px solid whitesmoke;
  border-radius: 13px; */
  margin-top: 3px;
}
