.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: flex-start;
}

.section {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-width: 100%;
  align-items: flex-end;
}

.navContainer {
  display: flex;
  justify-content: flex-end;
  top: 0;
  padding-top: 2rem;
  padding-right: 6%;
   z-index: 1;
}

.navItem {
  color:  #6f7083;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  font-weight: bolder;
  margin: 0 6px;
}

.navItem:hover {
  border: 3px solid #6370e9;
}

.activeNavItem {
  color:  #6f7083;
  font-weight: bold;
  border-bottom: 5px solid #6370e9;
}

@media (max-width: 480px) {
  .section {
    margin: 5%;
  }

  .header{
    font-size: 40px;
  }
}

@media (min-width: 768px) {

}
