.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: space-between;
}

.section {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-width: 100%;
  align-items: flex-end;
}


@media (max-width: 480px) {

  .main{
    padding: 15px;
  }
  .section {
    align-items: center;
    /* margin: 5%  */
  }
  .header{
   display: none;
  }
}

@media (max-width: 768px) {
 
  .main{
    padding: 15px;
  }
  .section {
    align-items: center;
    /* margin: 5%  */
  }
  .header{
   display: none;
  }
}
