.todoContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  font-size: 65px;
  color: #6f7083;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.formAndList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonContainer {
   display: flex;
   align-items: flex-end;
   justify-content: flex-start;
   width: 100%;
  max-width: 550px;
  margin: 0;
  /* padding-top: 10px; */
  height: 40px;
}
.buttonSortByTitle {
  width: 10%;
  cursor: pointer;
 border-radius: 8px;
  border: 0;
  background-color: #7984e6;
  height: 80%;
  
}
.buttonSortByDate{
  width: 23%;
  cursor: pointer;
 border-radius: 8px;
  border: 0;
  background-color: #7984e6;
  height: 80%;
  margin-left: 5px;
}
